body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

/* misc */
body {
  font-size: 8pt;
  font-family: arial, helvetica, sans-serif;
  color: #5C0D11;
  background: #E3E0D1;
  padding: 2px;
  margin: 0px
}

p {
  padding: 3px 1px;
  margin: 0
}

img {
  border: 0
}

a {
  color: #5C0D11
}

a:hover {
  color: #9B4E03
}

.br {
  color: #FF0000;
  font-weight: bold;
  text-align: center
}

.nopm {
  padding: 0;
  margin: 0
}

.stuffbox {
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  border-radius: 9px
}

p.ip {
  margin: -3px auto;
  text-align: center;
  padding: 0px 5px 5px 5px;
  clear: both
}

iframe.avn {
  width: 728px;
  height: 90px;
  margin: 0;
  padding: 0
}

div.i {
  float: left;
  height: 15px;
  width: 15px;
  margin: 0 1px;
  background-repeat: no-repeat
}

div.in {
  float: left;
  height: 15px;
  width: 25px;
  margin: 0 3px 0 0;
  background-repeat: no-repeat
}

div.in img {
  border: 0;
  padding: 0;
  margin: 1px 0 2px 2px;
  width: 25px;
  height: 12px
}

div.ir {
  width: 80px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(https://sadpanda.moe/alice/images/rt.png)
}

div.irr {
  background-image: url(https://sadpanda.moe/alice/images/rtr.png)
}

div.irb {
  background-image: url(https://sadpanda.moe/alice/images/rtb.png)
}

div.irg {
  background-image: url(https://sadpanda.moe/alice/images/rtg.png)
}

div.ir img {
  width: 80px;
  height: 16px
}


img.n {
  border: 0;
  padding: 0;
  margin: 0 1px;
  width: 15px;
  height: 15px
}

img.tn {
  border: 0;
  padding: 0;
  margin-right: 2px;
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  left: 0px
}

img.th {
  border: 1px solid #5C0D12;
  margin: 1px 0px 0px;
  padding: 0px
}

img.mr {
  border: 0;
  margin-left: 10px;
  width: 5px;
  height: 7px
}

img.ic {
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
  border: 0;
  width: 100px;
  height: 20px
}

img.if {
  padding: 0px;
  margin: 1px 0;
  vertical-align: text-top;
  border: 0;
  width: 15px;
  height: 13px
}

img.rt {
  width: 64px;
  height: 12px;
  margin: 1px 0 2px;
  vertical-align: middle
}

div.dp {
  width: 495px;
  margin: auto;
  text-align: center
}

div.ido {
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  text-align: justify;
  width: 99%;
  min-width: 950px;
  max-width: 1200px;
  margin: 10px auto 10px auto;
  padding: 5px;
  position: relative;
  border-radius: 9px
}

h1.ih {
  font-size: 10pt;
  font-weight: bold;
  margin: 2px auto;
  text-align: center;
  padding-bottom: 6px
}

div.ui {
  width: 980px;
  margin: 10px auto 10px auto;
  clear: both
}

div.c {
  clear: both !important
}

div.tod {
  width: 820px;
  height: 32px;
  border: 1px solid black;
  background: #FFFFCC;
  margin: auto;
  text-align: justify;
  padding: 3px
}

/* navbar */
nav#nb {
  margin: 2px auto 0;
  padding: 3px 0 0;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
  color: #AAAAAA;
  white-space: nowrap
}

nav#nb img {
  border: 0;
  margin: -1px -1px 1px 20px;
  width: 5px;
  height: 7px
}

nav#nb a {
  text-decoration: none;
  font-weight: bold
}

nav#nb a::before {
  content: ">";
  margin-left: 10px;
  margin-right: 2px;
}

p#lb {
  margin: 4px auto 2px;
  text-align: center;
  font-size: 9pt
}

p#lb a {
  text-decoration: none
}

/* shared table stuff */
table.itg {
  width: 99%;
  min-width: 925px;
  max-width: 1175px;
  border-collapse: collapse;
  margin: 0px auto;
  padding: 3px;
  border: 2px ridge #5C0D12;
  font-size: 9pt
}

table.itg th {
  font-weight: bold;
  text-align: left;
  padding: 3px 4px 3px 4px;
  background: #E0DED3
}

div.itg {
  width: 99%;
  min-width: 925px;
  max-width: 1175px;
  border-collapse: collapse;
  margin: 0px auto;
  padding: 3px;
  border-top: 2px ridge #5C0D12;
  border-bottom: 2px ridge #5C0D12
}

/* gallery table */
tr.gtr {
  background: #EBE8DD
}

tr.gtr0 {
  background: #EDEBDF
}

tr.gtr1 {
  background: #F2F0E4
}

/* login boxes */
div.d {
  margin: 200px auto auto auto;
  width: 400px;
  text-align: center;
  border: 1px solid #5C0D12;
  background: #EDEBDF;
  padding: 10px
}

div.ds {
  margin: 100px auto auto auto;
  width: 300px;
  text-align: center;
  border: 1px solid #5C0D12;
  background: #EDEBDF;
  padding: 10px
}

div.dt {
  margin: 300px auto auto auto;
  width: 400px;
  text-align: center;
  border: 1px solid #5C0D12;
  background: #EDEBDF;
  padding: 10px
}

/* input */
.stdbtn {
  font-size: 8pt;
  color: #5C0D11;
  background: #EDEADA;
  border: 2px outset #5C0D11;
  height: 21px;
  margin: 4px 1px 0px 1px;
  padding: 0px 4px 1px 4px
}

.stdbtn:enabled:hover {
  color: #9B4E03;
  background: #F2EFDF;
  border: 2px outset #9B4E03
}

.stdbtn:enabled:focus {
  color: #9B4E03;
  background: #F2EFDF
}

.stdbtn:enabled:active {
  font-size: 8pt;
  color: #9B4E03;
  background: #F2EFDF;
  border: 2px inset #9B4E03;
  height: 21px;
  margin: 4px 1px 0px 1px;
  padding: 0px 3px 1px 5px
}

.stdbtn:disabled {
  color: #C2A8A4;
  background: #EDEADA
}

.stdinput {
  font-size: 8pt;
  color: #5C0D11;
  background: #EDEADA;
  border: 1px solid #5C0D11;
  margin: 4px 1px 0px 1px;
  padding: 2px 3px 2px 3px
}

.stdinput:enabled:hover {
  color: #9B4E03;
  background: #F2EFDF
}

.stdinput:enabled:focus {
  color: #9B4E03;
  background: #F2EFDF
}

.stdinput:disabled {
  color: #C2A8A4;
  background: #EDEADA
}

/* gallery row */
img.it {
  border: 1px solid #5C0D12;
  padding: 0;
  margin: 0 !important;
  width: 14px;
  height: 14px
}

div.it2 {
  z-index: 8;
  background: #EDEBDF;
  visibility: hidden;
  position: absolute
}

div.it3 {
  float: left;
  height: 16px;
  padding-top: 1px
}

div.it4 {
  width: 85px;
  height: 16px;
  float: right;
  text-align: right;
  position: relative
}

div.it4r {
  float: right;
  margin-left: 5px
}

div.it4t {
  height: 16px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: -97px;
  z-index: 9
}

div.it5 {
  overflow: hidden;
  float: left;
  height: 16px;
  max-width: 680px;
  padding-left: 3px
}

td.itd {
  text-align: left;
  padding: 3px 4px;
  border-right: 1px solid #D9D7CC
}

td.itd a {
  text-decoration: none
}

td.itu {
  text-align: left;
  padding: 3px 4px;
  border-right: 1px solid #D9D7CC
}

td.itu a {
  text-decoration: none
}

td.itu div {
  width: 120px;
  overflow: hidden
}

td.itdc {
  text-align: left;
  padding: 0 1px 0 2px;
  margin: 0;
  border-right: 1px solid #D9D7CC
}

/* page selector */
table.ptt {
  padding: 0px;
  border-collapse: collapse;
  clear: both;
  color: #5C0D12;
  font-size: 10pt
}

table.ptt td {
  text-align: center;
  height: 15px;
  width: 31px;
  background: #E3E0D1;
  cursor: pointer;
  border: 1px solid #5C0D12;
  border-bottom: 0
}

table.ptt td:hover {
  color: #9B4E03;
  background: #F2EFDF
}

table.ptt a {
  text-decoration: none
}

table.ptt span {
  color: #C2A8A4
}

table.ptb {
  padding: 0px;
  border-collapse: collapse;
  clear: both;
  color: #5C0D12;
  font-size: 10pt
}

table.ptb td {
  text-align: center;
  height: 15px;
  width: 31px;
  background: #E3E0D1;
  cursor: pointer;
  border: 1px solid #5C0D12;
  border-top: 0
}

table.ptb td:hover {
  color: #9B4E03;
  background: #F2EFDF
}

table.ptb a {
  text-decoration: none
}

table.ptb span {
  color: #C2A8A4
}

td.ptds {
  font-weight: bold;
  font-size: 11pt;
  color: #9B4E03 !important;
  background: #F2EFDF !important
}

td.ptds a {
  font-weight: bold;
  font-size: 11pt
}

td.ptdd {
  color: #C2A8A4 !important
}

td.ptdd:hover {
  color: #C2A8A4 !important;
  background: #E3E0D1 !important
}

/* gallery */
a.tup {
  color: green
}

a.tdn {
  color: red
}

span.tup {
  color: green
}

span.tdn {
  color: red
}

div.gm {
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  text-align: justify;
  width: 99%;
  min-width: 720px;
  max-width: 1200px;
  margin: 10px auto;
  padding: 3px 5px;
  position: relative;
  border-radius: 9px
}

div#gleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 385px;
  z-index: 1
}

div#gmid {
  float: right;
  width: 765px;
  height: 330px;
  position: relative;
  background: #EDEBDF;
  z-index: 2
}

div#gright {
  float: right;
  width: 165px;
  height: 330px;
  position: relative;
  background: #EDEBDF;
  z-index: 2;
  clear: both
}

div#gd1 {
  font-size: 10pt;
  float: left;
  width: 255px;
  height: 375px;
  padding: 5px 0 0 10px;
  line-height: 375px
}

div#gd1 img {
  border: 1px solid #5C0D12;
  margin: 0;
  padding: 0;
  margin: 4px 2px;
  vertical-align: middle
}

div#gd2 {
  background: #EDEBDF;
  font-weight: bold;
  text-align: center;
  float: right;
  width: 925px;
  min-height: 50px;
  max-height: 70px;
  overflow: auto;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2
}

h1#gn {
  font-size: 12pt;
  padding: 0 0 2px;
  margin: 3px 15px
}

h1#gj {
  font-size: 10pt;
  padding: 0 0 2px;
  margin: 3px 15px;
  color: #9F8687;
  border-bottom: 1px solid #5C0D12
}

div#gd3 {
  font-size: 8pt;
  float: left;
  width: 170px;
  padding: 3px 0 0;
  margin: 0
}

div#gd4 {
  font-size: 8pt;
  float: left;
  width: 560px;
  padding: 0 0 0 5px;
  margin: 0 0 0 10px;
  vertical-align: top;
  border-left: 1px solid #5C0D12;
  border-right: 1px solid #5C0D12
}

div#gd5 {
  font-size: 9pt;
  float: left;
  width: 160px;
  padding: 3px 0 0 0;
  margin: 0
}

div#gd5 img {
  border: 0;
  margin-left: 10px;
  width: 5px;
  height: 7px
}

div#gdf {
  float: left;
  width: 170px;
  text-align: left;
  font-size: 10pt;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px
}

div#gdf a {
  text-decoration: none
}

div#gdt {
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  text-align: left;
  width: 99%;
  min-width: 720px;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
  padding: 5px;
  border-radius: 9px
}

div.gdtm {
  text-align: center;
  float: left;
  margin: 2px 0px;
  width: 120px
}

div.gdtl {
  text-align: center;
  float: left;
  margin: 2px 0px;
  width: 239px
}

div#gdt img {
  border: 1px solid #5C0D12;
  margin: 0px;
  padding: 0px
}

div#gdt a {
  text-decoration: none
}

div#gdc {
  text-align: center;
  margin: 5px auto 0
}

div#gdn {
  font-size: 10pt;
  text-align: center;
  margin: 17px auto 0
}

div#gdd {
  width: 170px;
  margin: 12px auto 0px;
  font-size: 9pt
}

div#gdd table {
  width: 170px;
  text-align: left;
  margin: 15px auto;
  padding: 0
}

td.gdt1 {
  font-weight: bold;
  border-spacing: 3px 0;
  height: 17px;
  white-space: nowrap
}

td.gdt2 {
  padding-left: 3px;
  height: 17px;
  white-space: nowrap
}

div#gdr {
  width: 170px;
  margin: 17px auto 0;
  font-size: 9pt
}

div#gdr table {
  width: 170px;
  text-align: center;
  margin: auto;
  padding: 0;
  font-weight: bold
}

div#gdr map {
  margin: 0
}

td#grt1 {
  width: 35%;
  padding: 0
}

td#grt2 {
  width: 30%;
  padding: 0 0 0 3px
}

td#grt3 {
  width: 35%;
  padding: 0
}

td#rating_label {
  padding: 0 0 0 9px
}

div#rating_image {
  cursor: pointer
}

.g1 {
  padding: 0;
  margin: 0;
  padding-left: 20px
}

.g2 {
  padding: 0;
  margin: 0;
  padding-bottom: 15px
}

.g2 a {
  font-weight: bold;
  text-decoration: none
}

.g3 {
  padding: 0;
  margin: 0;
  padding-bottom: 15px
}

.g3 a {
  text-decoration: none;
  font-weight: bold;
  color: #FF0000
}

.g3 a:hover {
  color: #FF6464
}

.gsp {
  padding-top: 11px
}

div#tagpopup {
  position: absolute;
  top: -4px;
  left: 180px;
  height: 328px;
  width: 549px;
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  z-index: 9;
  opacity: 0.95;
  padding: 4px 8px
}

div#tagpopup h1 {
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  text-decoration: underline
}

div#tagpopup h2 {
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  margin-top: 7px;
  padding-top: 0
}

div#tagpopup h2:hover {
  color: #9B4E03
}

div#tagpopup p {
  font-size: 9pt;
  text-align: justify;
  margin-top: 5px
}

div#gnc {
  text-align: center;
  padding-top: 75px;
  color: #CCCCCC
}

p#gn {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 12pt;
  text-align: center
}

td.gnda {
  width: 10px;
  text-align: center;
  vertical-align: middle
}

td.gndn {
  width: 1170px
}

div.gt {
  float: left;
  font-weight: bold;
  padding: 1px 4px;
  margin: 0 2px 5px 2px;
  white-space: nowrap;
  position: relative;
  border-radius: 5px;
  border: 1px solid #806769;
  background: #F2EFDF
}

div.gtl {
  float: left;
  font-weight: bold;
  padding: 1px 4px;
  margin: 0 2px 5px 2px;
  white-space: nowrap;
  position: relative;
  border-radius: 5px;
  border: 1px dashed #9a7c7e;
  background: #F2EFDF
}

td.tc {
  text-align: right;
  font-family: verdana;
  padding-top: 3px;
  vertical-align: top
}

div#gdso {
  position: relative;
  height: 173px;
  width: 100%;
  overflow: visible;
  z-index: 99
}

div#gds {
  overflow: auto;
  text-align: justify;
  height: 169px;
  width: 620px;
  padding: 2px 3px;
  background: #F2EFDF
}

div#taglist {
  overflow: auto;
  height: 295px;
  width: 100%;
  padding: 2px 0 2px 3px;
  font-size: 9pt
}

div#taglist a {
  text-decoration: none
}

div#tagmenu_act {
  padding: 2px;
  margin: 0;
  float: left;
  width: 540px;
  height: 22px;
  font-size: 9pt
}

div#tagmenu_act a {
  text-decoration: none;
  font-weight: bold
}

div#tagmenu_act img {
  padding-bottom: 1px
}

div#tagmenu_new {
  padding: 2px;
  margin: 0;
  float: left;
  width: 540px;
  height: 22px
}

div#gwrd {
  height: 16px;
  width: 16px;
  float: right;
  position: relative;
  padding-top: 4px
}

div#waitroller {
  width: 16px;
  height: 16px
}

div#gnd {
  width: 800px;
  margin: 5px auto 15px;
  text-align: center;
  font-size: 9pt
}

input#newtagfield {
  width: 485px;
  margin: 0;
  font-size: 10pt;
  padding-top: 1px;
  padding-bottom: 2px
}

input#newtagbutton {
  margin: 0;
  font-weight: bold;
  font-size: 10pt;
  border: 0;
  background: transparent;
  cursor: pointer
}

a#grl {
  color: #FF0000;
  font-weight: bold
}

div#chd {
  text-align: center;
  width: 95%;
  margin: 10px auto;
  font-size: 9pt
}

p#postnewcomment {
  font-weight: bold
}

div.c1 {
  width: 95%;
  margin: 10px auto;
  font-size: 9pt
}

div.c2 {
  font-weight: bold;
  background: #E3E0D1;
  border: 1px solid #F2EFDF
}

div.c3 {
  float: left;
  padding: 2px
}

div.c3 a {
  text-decoration: none
}

div.c4 {
  float: right;
  padding: 2px
}

div.c4 a {
  text-decoration: none
}

div.c5 {
  float: right;
  padding: 2px;
  width: 80px;
  text-align: left;
  cursor: pointer
}

div.c6 {
  text-align: justify;
  padding: 5px 20px 5px 20px;
  font-size: 9pt;
  overflow: hidden
}

div.c6 a {
  text-decoration: none;
  font-weight: bold
}

div.c7 {
  padding: 5px 20px 5px 20px;
  font-size: 8pt;
  font-weight: bold
}

div.c7 span {
  white-space: nowrap
}

div.c8 {
  padding: 0 0 0 20px;
  margin-top: 1px;
  font-size: 8pt;
  font-style: italic
}

img.ygm {
  border: 0;
  opacity: 0.7;
  padding-left: 2px;
  vertical-align: -1px
}

div#formdiv {
  width: 96%;
  margin: 10px auto;
  text-align: center
}

div#formdiv textarea {
  width: 96%;
  height: 200px;
  font-size: 9pt;
  font-family: arial
}

div#formdiv div {
  margin: auto;
  text-align: center;
  font-weight: bold
}

div.gce {
  width: 100%;
  margin: auto;
  text-align: center
}

div.gce textarea {
  width: 100%;
  margin: auto;
  height: 200px;
  font-size: 9pt;
  font-family: arial
}

p#frontpage {
  margin: -5px auto 0px;
  text-align: center;
  padding: 0px 5px 5px;
  clear: both
}

div.ths {
  font-weight: bold;
  padding: 3px 2px;
  margin: 0 2px 4px 2px;
  white-space: nowrap;
  float: left;
  border-radius: 5px;
  width: 55px;
  text-align: center;
  font-size: 10pt;
  border: 1px solid #806769;
  background: #F2EFDF
}

div.tha {
  font-weight: bold;
  padding: 3px 2px;
  margin: 0 2px 4px 2px;
  white-space: nowrap;
  float: left;
  border-radius: 5px;
  width: 55px;
  text-align: center;
  font-size: 10pt;
  border: 1px solid #C2A8A4;
  cursor: pointer
}

div.tha:hover {
  background: #F2EFDF;
  color: #9B4E03
}

div.thd {
  font-weight: bold;
  padding: 3px 2px;
  margin: 0 2px 4px 2px;
  white-space: nowrap;
  float: left;
  border-radius: 5px;
  width: 55px;
  text-align: center;
  font-size: 10pt;
  border: 1px solid #C2A8A4;
  color: #C2A8A4
}

p.gpc {
  margin: -3px auto;
  text-align: center;
  padding: 0px 5px 5px 5px;
  clear: both;
  font-size: 9pt
}

.nosel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

span.halp {
  font-size: 8pt;
  font-weight: bold;
  cursor: help
}

div.gtb {
  min-width: 730px
}

div#gdo {
  width: 99%;
  min-width: 720px;
  max-width: 1200px;
  margin: auto;
  height: 0
}

div#gdo1 {
  position: relative;
  float: left;
  width: 300px
}

div#gdo2 {
  position: absolute;
  width: 300px;
  height: 15px;
  left: -3px;
  top: -35px;
  text-align: left;
  z-index: 1
}

div#gdo3 {
  position: relative;
  float: right;
  width: 135px
}

div#gdo4 {
  position: absolute;
  width: 135px;
  height: 15px;
  left: 8px;
  top: -35px;
  text-align: right;
  z-index: 1
}

div#spa {
  clear: both;
  height: 63px;
  width: 555px;
  overflow: hidden
}

div#spa img {
  margin-bottom: 3px
}

div#eventpane {
  margin-top: 5px !important
}

@media screen and (max-width:1230px) {
  div#gd1 {
    display: none !important
  }

  div.gm {
    max-width: 960px
  }

  div#gdt {
    max-width: 960px
  }

  div#gdo {
    max-width: 960px
  }
}

@media screen and (max-width:990px) {
  p.gpc {
    margin-top: 25px;
    visibility: hidden !important
  }

  div.gm {
    max-width: 720px
  }

  div#gdt {
    max-width: 720px
  }

  div#gdo {
    max-width: 720px
  }

  div#gd2 {
    width: 710px
  }

  div#gd4 {
    width: 340px
  }

  div#gmid {
    width: 545px
  }

  div#tagmenu_act {
    width: 320px
  }

  div#tagmenu_new {
    width: 320px
  }

  input#newtagfield {
    width: 265px
  }

  nav#nb {
    max-width: 630px;
    overflow: hidden
  }

  div#gdo2 {
    top: -55px
  }

  div#gdo4 {
    top: -55px
  }

  div#spa {
    width: 335px
  }

  div#asm {
    max-width: 720px;
    overflow: hidden;
    margin: auto
  }

  div.tod {
    max-width: 720px
  }
}

/* toplists */
p.t1 {
  font-size: 10pt;
  font-weight: bold
}

table.t1 th {
  font-weight: bold;
  text-align: left;
  padding: 3px 4px 3px 4px;
  background: #E0DED3
}

table.t1 td {
  text-align: left;
  border-right: 1px solid #D9D7CC
}

table.t1 td.t1 {
  font-weight: bold;
  text-align: right;
  padding-right: 5px
}

table.t1 td.t2 {
  font-weight: bold;
  text-align: right;
  padding: 2px 5px 2px 2px
}

table.t1 td.t3 {
  text-align: left;
  padding: 2px 5px 2px 2px
}

div.t1 {
  float: left;
  margin: 4px;
  padding: 2px;
  width: 285px;
  text-align: left
}

div.t2 {
  overflow: hidden;
  width: 255px;
  height: 15px;
  padding-left: 1px
}

table.t2 td.t1 {
  font-weight: bold;
  text-align: right
}

/* image pages */
div.sni {
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  text-align: center;
  margin: 2px auto 6px;
  padding: 0 5px 5px;
  min-width: 720px;
  position: relative;
  z-index: 1
}

div.sni h1 {
  font-size: 12pt;
  font-weight: bold;
  text-align: center
}

div.sni img {
  border: 0;
  vertical-align: middle;
  margin: 1px;
  clear: both
}

div.smi {
  background: #EDEBDF;
  border: 1px solid #5C0D12;
  text-align: center;
  margin: auto;
  padding: 0 5px;
  min-width: 720px;
  position: relative;
  z-index: 1
}

div.smi img {
  border: 0;
  vertical-align: middle;
  margin: 1px;
  clear: both
}

div.if {
  margin: -5px auto 5px
}

div.sn {
  margin: 1px auto;
  font-size: 10pt;
  height: 32px;
  z-index: 1
}

div.sn div {
  margin: 2px 25px 0px;
  display: inline
}

div.sn span {
  font-weight: bold
}

div.sn img {
  width: 30px;
  height: 30px;
  padding: 0px 2px
}

div.sa {
  margin: 1px auto;
  position: relative;
  font-size: 10pt;
  width: 500px;
  height: 32px;
  z-index: 1
}

div.so {
  position: relative
}

div.so div {
  position: absolute;
  top: 0px
}

div.so img {
  width: 30px;
  height: 30px
}

div.sp {
  padding-top: 7px;
  width: 80px;
  text-align: center
}

div.sp span {
  font-weight: bold
}

div.sb {
  margin-top: -10px;
  position: relative;
  z-index: 2
}

div.sb img {
  border: 0
}

img.si {
  border: 0;
  margin: 1px;
  clear: both
}

/* stats */
td.stdb {
  text-align: center;
  vertical-align: bottom;
  margin: 0px auto 0px auto;
  padding: 1px 7px 0px 7px
}

td.stdk {
  font-size: 8pt;
  text-align: center;
  margin: 0px auto 0px auto;
  padding: 1px 3px;
  border: 1px solid #5C0D12;
  font-weight: bold
}

td.stdv {
  font-size: 8pt;
  text-align: center;
  margin: 0px auto 0px auto;
  padding: 1px 3px;
  border: 1px solid #5C0D12
}

/* index */
table.itc {
  margin: auto
}

table.itc td {
  padding: 1px 5px
}

table.itc2 {
  margin: auto;
  text-align: left;
  width: 94%;
  margin-top: 5px
}

table.itss {
  margin: auto;
  text-align: left;
  margin-top: 5px;
  width: 94%
}

table.itsf {
  margin: auto;
  text-align: left;
  margin-top: 5px;
  width: 400px
}

table.itsr {
  margin: auto;
  text-align: left;
  margin-top: 5px;
  width: 260px
}

td.ic4 {
  width: 25%;
  height: 25px
}

td.ic3 {
  width: 33%;
  height: 25px
}

td.ic2 {
  width: 50%;
  height: 25px
}

td.ic1 {
  width: 100%;
  height: 25px
}

select.imr {
  margin-left: 13px
}

select.ibf {
  margin-left: 13px;
  width: 170px;
  background-repeat: no-repeat;
  background-position: 2px 2px
}

option.ibfc {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 0px 0px
}

div.iet {
  float: left;
  width: 182px;
  height: 127px
}

iframe.iet {
  border: 0px;
  margin: 0px;
  overflow: hidden;
  padding-left: 28px;
  width: 125px;
  height: 145px
}

div.idi {
  margin: auto;
  width: 598px;
  border-collapse: collapse;
  margin: 0px auto 8px auto;
  padding: 5px;
  border: 2px ridge #5C0D12;
  text-align: center
}

div#toppane {
  margin: auto;
  width: 99%
}

div#iw {
  color: #FF0000;
  margin: 2px auto 5px auto;
  text-align: center
}

div.id1 {
  display: inline-block;
  width: 228px;
  margin: 3px 2px 2px 3px;
  padding-top: 3px;
  border-radius: 9px;
  border: 1px solid #E3E0D1;
  background: #F2EFDF
}

div.id2 {
  width: 220px;
  height: 30px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  vertical-align: middle
}

div.id2 a {
  font-weight: bold;
  text-decoration: none
}

div.id3 {
  width: 202px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 7px
}

div.id3 img {
  border: 0;
  margin: auto;
  border-radius: 7px
}

div.id4 {
  width: 220px;
  height: 20px;
  margin: auto;
  text-align: center;
  position: relative
}

div.id41 {
  position: absolute;
  left: 2px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-image: url(https://sadpanda.moe/alice/images/btn.png);
  background-repeat: no-repeat
}

div.id42 {
  position: absolute;
  left: 16px;
  top: 7px;
  width: 55px;
  height: 15px;
  text-align: center
}

div.id43 {
  position: absolute;
  left: 70px;
  top: 2px
}

div.id44 {
  position: absolute;
  left: 143px;
  top: 0px;
  width: 78px;
  height: 20px;
  overflow: hidden;
  text-align: right
}

div#dmo {
  float: right;
  width: 170px;
  position: relative
}

div#dmi {
  position: absolute;
  top: 18px;
  left: -7px
}

div#dmi span {
  font-weight: bold
}

div.tfl {
  float: right;
  margin: 1px 2px 0 0;
  width: 15px;
  height: 15px;
  background-image: url(https://sadpanda.moe/alice/images/tf.png);
  background-repeat: no-repeat
}

div.tft {
  float: right;
  margin: 4px 2px 0 0;
  width: 15px;
  height: 15px;
  background-image: url(https://sadpanda.moe/alice/images/tf.png);
  background-repeat: no-repeat
}

/* misc */
table.mt {
  border: 1px solid #5C0D12;
  background: #E0DED3;
  border-collapse: collapse
}

div#db {
  width: 320px;
  text-align: center;
  margin: 5px auto auto auto;
  border: 1px solid #5C0D12;
  background: #EDEBDF;
  padding: 2px 5px 2px 5px
}

table#dt {
  border: 1px solid #5C0D12;
  background: #EDEBDF;
  border-collapse: collapse;
  margin: 10px auto;
  text-align: left
}

table#ett {
  margin: 8px auto;
  width: 95%;
  overflow: auto;
  vertical-align: top;
  background: #F2EFDF;
  border: 1px solid #E3E0D1;
  padding: 1px 4px
}

div#etd {
  margin: 8px auto;
  width: 95%;
  height: 240px;
  overflow: auto;
  vertical-align: top;
  background: #F2EFDF;
  border: 1px solid #E3E0D1;
  font-size: 8pt;
  padding: 1px 4px;
  text-align: justify
}

/* favorites */
input.fs {
  font-size: 12pt;
  color: #5C0D11
}

div.fp {
  width: 190px;
  height: 20px;
  cursor: pointer;
  border-radius: 9px;
  border: 1px solid transparent
}

div.fp:hover {
  background: #F2F0E4;
  border: 1px solid #C2C1C1
}

div.fps {
  background: #F2F0E4;
  border: 1px solid #C2C1C1
}

/* popular pane */
div#pt {
  font-weight: bold;
  margin: 5px auto;
  font-size: 10pt;
  text-align: center;
  width: 99%;
  min-width: 925px;
  max-width: 1175px;
  border-bottom: 2px ridge #5C0D12
}

div#pp {
  width: 99%;
  margin: auto;
  overflow: hidden;
  padding: 3px;
  min-width: 925px;
  max-width: 1175px
}

/* bounty */
span.scr {
  font-weight: bold;
  color: red
}

span.scb {
  font-weight: bold;
  color: blue
}

span.scg {
  font-weight: bold;
  color: green
}

span.sco {
  font-weight: bold;
  color: #FF8C00
}

/* hentaiathome */
table.infot {
  text-align: justify;
  border-collapse: collapse
}

td.infota {
  width: 270px;
  vertical-align: top;
  border-bottom: 1px solid #5C0D12;
  padding: 5px
}

td.infotv {
  width: 700px;
  vertical-align: top;
  border-bottom: 1px solid #5C0D12;
  padding: 5px
}

/* home */
.gptxt {
  text-align: right;
  font-size: 14pt;
  font-weight: bold;
  color: #3B8823
}
